{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<h1 class="text-center pt-2">Liste des contacts</h1>
<div class="row">
    {% for contact in lesContacts %}
        <div class="card bg-secondary px-0 mb-3 mx-auto" style="max-width: 20rem;">
        <div class="card-header bg-dark">
            <h5 class="card-title text-center text-light">{{contact.nom }} {{ contact.prenom}}</h5>
        </div>
        <img style="aspect-ratio: 1/1; width: 128px; margin: 1rem auto"
        class="rounded-circle"
        src="{{ contact.avatar }}"
        draggable="false"/>
        <div class="px-3">
            <h5 class="card-title">Coordonnées</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{contact.rue}}</li>
                <li class="list-group-item">{{contact.cp}}, {{contact.ville}}</li>
                <li class="list-group-item">{{contact.mail}}</li>
            </ul>
        </div>
        <div class="card-body">
            <a href="#" class="btn btn-primary text-center">Consulter</a>           
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
