<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mes Contacts{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{asset('/css/bootstrap.css')}}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
       {# navbar #}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary px-3">
        <a class="navbar-brand text-light" href="{{path('app_accueil')}}">Mes Contacts</a>
        <ul class="nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Contacts</a>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="{{path('app_contacts')}}">Tout les contacts</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{path('app_contactsSexe', {'sexe': 0})}}">Hommes</a>
            <a class="dropdown-item" href="{{path('app_contactsSexe', {'sexe': 1})}}">Femmes</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="{{path('app_categories')}}">Liste des categories</a>
        </li>
        </ul>
    </nav>
    <div class="container">
        {# Endroit où sera chargé le contenu #}
        {% block body %}{% endblock %}
    </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</html>